#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

menuconfig USBMISC
	bool "USB Miscellaneous drivers"
	default n
	---help---
		USB Miscellaneous drivers.

if USBMISC

config FUSB301
	bool "On Semiconductor FUSB301 USB Type-C controller support"
	default n
	select I2C
	---help---
		Enable device driver for Fairchild/On Semiconductor USB Type-C controller

if FUSB301

config FUSB301_I2C_FREQUENCY
	int "FUSB301 I2C frequency"
	default 400000
	range 1 400000

config DEBUG_FUSB301
	bool "Enable debug support for the FUSB301"
	default n
	---help---
		Enables debug support for the FUSB301

config FUSB301_NPOLLWAITERS
	int "Number of waiters to poll"
	default 2
	---help---
		Maximum number of threads that can be waiting on poll()

endif

config FUSB302
	bool "On Semiconductor FUSB302 USB Type-C controller support"
	default n
	select I2C
	---help---
		Enable device driver for Fairchild/On Semiconductor USB Type-C controller

if FUSB302

config FUSB302_NPOLLWAITERS
	int "Number of waiters to poll"
	default 2
	---help---
		Maximum number of threads that can be waiting on poll()

config DEBUG_FUSB302_REG
	bool "Enable register dumps for debug"
	default n

endif

config FUSB303
	bool "On Semiconductor FUSB303 USB Type-C controller support"
	default n
	select I2C
	---help---
		Enable device driver for Fairchild/On Semiconductor USB Type-C controller

if FUSB303

config FUSB303_I2C_FREQUENCY
	int "FUSB303 I2C frequency"
	default 400000
	range 1 400000

config DEBUG_FUSB303
	bool "Enable debug support for the FUSB303"
	default n
	---help---
		Enables debug support for the FUSB303

config FUSB303_NPOLLWAITERS
	int "Number of waiters to poll"
	default 2
	---help---
		Maximum number of threads that can be waiting on poll()

endif

config USB251X
	bool "Microchip USB251X USB hub controller support"
	default n
	select I2C
	---help---
		Enable device driver for Microchip USB Hub controller

if USB251X
config USB251X_I2C_FREQUENCY
	int "USB251X I2C frequency"
	default 100000
	range 1 100000

config DEBUG_USB251X
	bool "Enable debug support for the USB251X"
	default n
	---help---
		Enables debug support for the USB251X

config USB251X_BLOCK_SIZE
	int "Configuration block size"
	default 32
  range 1 32
	---help---
		Configuration block size for driver
endif # USB251X

endif # USBMISC
